 <html>
 <body>

<%= form_tag %>
<%= error_messages_for 'user' %>

<h3 align="center">&nbsp;</h3>

<div align="center">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="327" border="2">
    <tr>
      <td colspan="3"><div align="center" class="style1">Forgotten password</div></td>
    </tr>
    <tr>
      <td width="106"><span class="style2">Email: </span></td>
      <td width="50"><%= text_field "user","email" %></td>
      <td width="147">&nbsp;</td>
    </tr>
    <tr>
      <td><br/>
        <%= submit_tag 'Email password' %> </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>