<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ADD PHOTO</title>
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
</head>

<body bgcolor="#FFFFFF">

<% form_for (:album,  :url => {:action => "addphoto",:id => params[:id]}, :html => {:multipart => true}) do  %> ADD YOUR IMAGES HERE 


<table width="364" border="0" height="416">
 <%# @albums.each do |@album| %>
    <tr>
      <td><%= file_field :addphoto,:bphoto%></td>
	  
	  
	  
      <td>&nbsp;</td>
	   <td  align="center" height="62" width="142"><%= link_to "BackToyourAlbum",:controller => "album", :action=>"show", :id => params[:id] %></td>

   
    <tr>
     
	
	
	<td width="20"><%= submit_tag "Create" %> </td>
	  <td width="49">&nbsp;</td>
  </tr>
</table>

  <p><%end%>  </p>
  
 
</body>
</html>
